@import url(https://fonts.googleapis.com/css?family=Teko&display=swap);
html
{
      scroll-behavior: smooth;
        font-family: 'Teko', sans-serif;
}
body
{
    margin: 0;
    padding: 0;
    background: #4e0128;
    color: #ede8c3;
    font-family: 'Teko', sans-serif;
}
h3{
    font-style: italic;
}
h2 a
{
    color: #ede8c3;
}
a.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

#currentTime
{
    top: 0;
    font-size: 16pt;
    float: right;
}
nav a {
  float: left;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: #308693;
}

nav a:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 3px;
  width: 0;
  background: transparent;
}

nav a:after {
  transition: width .5s ease, background-color .5s ease, left .5s ease;
}

nav a:hover:after {
  width: 100%;
  left: 0;
  background:  #ff441f;
}

nav
{
    z-index: 1000;
    position: fixed;
    top: 0;
    margin: 0;
    display: block;
    background: #38021d;
    width: 100%;
    min-height: 50px;
    box-shadow: 0px 5px 20px black;
}
#projectscontainer{
    width: 90%;
    margin: auto;
    align-self: center;
    text-align: center;
    display: grid;
    grid-gap: 15px;
    grid-template-areas: 
    "a a a a a b b b"
    "c c c d d d d d"
    "e e e e f g g g"
    "h h j j k k i i"
}

.project
{
    z-index: 5;
    background: #4e0128;
    box-shadow: 0px 15px 30px black;
    border-radius: 15px;
    transition: box-shadow .5s ease;
    
}
.project:hover
{
    z-index: 4;
    box-shadow: 0px 15px 60px #cc086a;
    transition: box-shadow .5s ease;
}
.project p
{
    padding: 5px
}
#pageheader
{
    text-align: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, rgba(56,2,29,1) 0%, rgba(56,2,29,1) 80%, rgba(78,1,40,1) 100%);
}
#pageheader div
{
    margin: auto;
}
#pageheader h1
{
    font-size: 72pt;
}
#pageheader h2
{
    margin: auto;
    font-size: 42pt;
}
nav a
{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 25pt;
}
.background
{
    background: #4e0128;
    color: #ede8c3;
}
.background-light
{
    background: #251d3a;
    color: #e7dfdd;
}
.button 
{
    background: #0e0b16;
    color: #ede8c3;
}
a:visited
{
    text-decoration: none;
}
a:hover
{
    text-decoration: none; 
    color: #ff441f;

}
a
{
    color:#308693;
    text-decoration: none;
}

#content
{
    background: #4e0128;
    margin-left: 50px;
    padding-left: 10px;
    padding-top: 25px;
    margin: auto;
    text-align: left;
    font-size: 25px;
}
.center
{
    text-align: center;
}
.title
{
    text-align: center;
    margin: auto;
}
.AudioPlayer{
    background: #251d3a;
    shape-margin: round;
}
.AudioPlayer > div{
    margin-left: 20px;
}
audio:hover, audio:focus, audio:active{
    background-color: #0e0b16;
}

.tablemain
{
    width: 100%;
    font-size: 28px;
}
th{
    text-align: left;
    text-indent: 10px;
}