---
layout: default
title: Support
permalink: /support
---
<h2>Support Me</h2>
<article style='font-size: 1.4em;'>

<p>
	At the moment, I don't have a stable job (I'm a student), so any support is greatly appreciated! 
	I try to do my part in giving back by making open source projects, 
	music <i><span style='font-size: .8em;'>(which is free on <a target="_blank" href="https://www.youtube.com/channel/UCh69Q3mMsXisV9NIFcROhvw/">YouTube</a> if you don't have access to music streaming services)</span></i>,
	and answering questions that people have about various things. 
</p>
<h3>How can you help?</h3>
<style>
	li{
		margin-top: .5em;
	}
</style>
<ul>
	<li>
		Take a look at some of my work! 
			It's nice to know that the things I'm making are having some kind of impact on people, 
			so something as simple as listening to a peice I composed, or looking at one of my projects, supports me. You're supporting me right now, by viewing my website! Thanks!</li>
		<li>
			Give me something to do! I should probably be focusing on finding a job, but 
			something like a bug in my code or an idea for a new project generally keeps me productive, and being productive is good for my mental state.
		</li>
		<li>
			Feedback! We all need feedback and constructive critisism to improve ourselves, so I value feedback very much. 
			More info can be found in the <a href='/connect'>contact</a> section of my site.
		</li>
		<li>
			Share my existence with people! It helps me network!
		</li>
		<li>
			If you'd like to support me in a monetary way, I accept cryptocurrency (Doge and Bitcoin.)<br>
			<table>
				<tr>
					<td>Bitcoin</td>
					<td>{% include tags/copyinput.html id="btc" value="bc1qpv2duy5h6y35rgz94ctt0a3w8flyysfvxu6jcx" %}</td>
				</tr>
				<tr>
					<td>Dogecoin</td>
					<td>{% include tags/copyinput.html id="doge" value="DPju8zhReUzajMuZEh9cuP3BWegVfcEN9B" %}<br></td>
				</tr>
			</table>
		</li>
	</ul>
</article>