#post
	padding: 20px
	background: var(--postbackground)
	-webkit-box-shadow: 0px 0px 50px 19px #12081d1a
	box-shadow: 0px 0px 50px 19px #1409201a
	h1
		text-align: center
		font-size: 500%
	p
		margin-top: 15px
		line-height: 1.7em
	h2, h3
		text-align: left
	.hidden-link
		color: var(--textcolor)
	img
		max-width: 80%
	
	img.small-img
		max-width: 20%
	img.medium-img
		max-width: 45%
	img.large-img
		max-width: 85%
	
	img.large-img, img.medium-img, img.small-img
		margin: auto
		display: block

	.invert
		filter: invert(100%)


#post.light-mode
	-webkit-box-shadow: 0px 0px 50px 19px rgba(200,151,255,0.1)
	box-shadow: 0px 0px 50px 19px rgba(200,151,255,0.1)
	color: black
	background: white
	h4, h3, h2, h1
		text-shadow: none
	.invert
		filter: none

#blog-posts
	width: 50%
	display: block
	margin: auto
	font-size: 150%
	.post
		margin-top: 30px
		padding: 10px 10px 18px 10px
		background: var(--backgroundcolor)
		box-shadow: 0px 15px 30px black
		border-radius: 9px
		h3
			text-align: left
			font-size: 160%
			margin-bottom: 5px
		p:nth-child(2)
			font-style: italic
			font-size: 85%
			margin-bottom: 25px
			
			font-weight: 300
		p:nth-child(3)
			font-size: 70%