.projects
	width: 90%
	padding: 20px 20px 20px 20px;
	margin: auto
	display: grid
	grid-template-columns: auto auto auto
	gap: 17px;

	div
		padding: 10px 10px 18px 10px;
		background: var(--backgroundcolor);
		box-shadow: 0px 15px 30px black;
		border-radius: 15px;
		p
			padding: 0px 20px 0px 20px
	div:last-child:nth-child(3n-2)
		grid-column: span 3
		
