.projects
	width: 90%
	padding: 20px 20px 20px 20px
	margin: auto
	display: grid
	grid-template-columns: auto auto auto
	gap: 17px
	.project
		position: relative
	div
		padding: 10px 10px 10px 10px
		background: var(--backgroundcolor)
		box-shadow: 0px 15px 30px black
		border-radius: 15px
		display: block
		p
			padding: 0px 20px 35px 20px
			margin-bottom: 10px
		.grid-1
			grid-column: span 1
		.grid-2
			grid-column: span 2
		.grid-3
			grid-column: span 3
		.grid-4
			grid-column: span 4
		.grid-5
			grid-column: span 5

	div:last-child:nth-child(3n-2)
		grid-column: span 3
	
	.project-tags
		background: none
		box-shadow: none
		border-radius: none
		display: block
		position: absolute
		bottom: 0
		
